<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jixiang.com.myandroid">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".layout.TestLinearLayout"
            android:label="@string/test_linearlayout" />
        <activity android:name=".layout.TestGridLayout" />
        <activity
            android:name=".layout.TestFrameLayout"
            android:label="@string/test_framelayout" />
        <activity
            android:name=".layout.TestRelativeLayoutActivity"
            android:label="@string/test_relativelayout" />
        <activity
            android:name=".layout.TestTableLayout"
            android:label="@string/test_tablelayout" />
        <activity
            android:name=".layout.StepRelativeLayoutActivity"
            android:label="@string/steps_stair" />
        <activity android:name=".view.TestTextViewActivity" />
        <activity android:name=".view.TestButtonActivity" />
        <activity android:name=".view.TestEditTextActivity" />
        <activity android:name=".view.TestImageViewActivity" />
        <activity android:name=".view.TestTabActivity" />
        <activity android:name=".view.TestRadioCheckActivity" />
        <activity android:name=".view.TestProgressBarActivity" />
        <activity android:name=".view.TestSeekBarActivity" />
        <activity android:name=".view.TestDateTimePickerActivity" />
        <activity android:name=".view.TestStackView" />
        <activity android:name=".view.TestViewSwitcher" />
        <activity android:name=".view.TestImageSwitcher" />
        <activity android:name=".view.TestTextSwitcher" />
        <activity android:name=".adapterview.TestListViewActivity" />
        <activity android:name=".adapterview.TestListViewArrayAdapter" />
        <activity android:name=".adapterview.TestListViewSimpleAdapter" />
        <activity android:name=".adapterview.TestListViewBaseAdapter" />
        <activity android:name=".view.TestCarActivity" />
        <activity android:name=".adapterview.TestLinearListViewActivity" />
        <activity android:name=".adapterview.TestCarActivity" />
        <activity android:name=".adapterview.TestAuctoCompletedTextView" />
        <activity android:name=".adapterview.TestSpinnerActivity" />
        <activity android:name=".adapterview.TestGridView" />
        <activity android:name=".adapterview.TestGallery" />
        <activity android:name=".adapterview.TestExpandableListView" />
        <activity android:name=".dialog.TestDialogActivity" />
        <activity
            android:name=".dialog.ActivityAsDialog"
            android:label="@string/activity_as_dialog"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog" />
        <activity android:name=".notification.TestNotificationActivity" />
        <activity android:name=".exam.ExamActivity" />
        <activity android:name=".exam.ShowTimeActivity" />
        <activity android:name=".exam.ShowListViewActivity" />
        <activity android:name=".exam.ShowGridActivity" />
        <activity android:name=".menu.TestMenuActivity" />
        <activity android:name=".activity.AActivity" />
        <activity android:name=".activity.BActivity" />
        <activity android:name=".activity.FirstActivity" />
        <activity android:name=".activity.SecondActivity" />
        <activity
            android:name=".activity.TransparentActivity"
            android:theme="@style/TransparentActivity" />
        <activity android:name=".intent.TestIntentAcitvity" />
        <activity
            android:name=".intent.ActionActivity"
            android:label="ActionActivity">
            <intent-filter>
                <action android:name="com.three.android.see" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.three.android.person" />
            </intent-filter>
        </activity>
        <activity
            android:name=".intent.ActionActivity1"
            android:label="ActionActivity1">
            <intent-filter>
                <action android:name="com.three.android.see" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.three.android.mycategory" />
            </intent-filter>
        </activity>
        <activity android:name=".fragment.FragmentLayout" />
        <activity android:name=".fragment.DetailsActivity" />
        <activity android:name=".fragment.TestFragment" />
        <activity android:name=".fragment.TestFragmentAsView" />
        <activity android:name=".fragment.TestFragmentManager" />
        <activity android:name=".viewpager.TestViewPager" />
        <activity android:name=".viewpager.TestFragmentViewPager" />
        <activity android:name=".animation.TestTranslate" />
        <activity android:name=".animation.TestAnimation" />
        <activity android:name=".animation.TestRotate" />
        <activity android:name=".animation.TestAnimationSet" />
        <activity android:name=".animation.TestScaleAnimation" />
        <activity android:name=".animation.TestAlphaAnimation" />
        <activity android:name=".animation.TestFrameAnimation" />
        <activity android:name=".animator.TestAnimatorActivity" />
        <activity android:name=".animator.XmlAnimatorActivity" />
        <activity android:name=".animator.TestObjectAnimatorAcitivity" />
        <activity android:name=".animator.TestAnimatorSet" />
        <activity android:name=".touchevent.TestTouchEventA" />
        <activity android:name=".canvas.TestMyClock" />
        <activity android:name=".bitmap.TestBitmapFactory" />
        <activity android:name=".bitmap.PreviewImageActivity" />
        <activity android:name=".sharedpreferences.TestSharedPreferences" />
        <activity android:name=".databases.TestDatabaseActivity" />
        <activity android:name=".service.TestServiceActivity" />
        <activity android:name=".webview.TestWebView" />
        <activity android:name=".webview.LoadLocalHtml" />
        <activity android:name=".webview.LoadJSAndJSInterface" />
        <activity android:name=".webview.GetImageUrl" />
        <activity android:name=".webview.LoginCSDN" />
        <activity
            android:name=".databaseexam.QQDinaryHome"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <activity
            android:name=".databaseexam.QQDinaryWrite"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <activity
            android:name=".databaseexam.QQDinaryView"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <activity android:name=".json.ParseJSON" />
        <activity android:name=".async.TestAsyncTask" />
        <activity android:name=".network.GetWeather" />
        <activity android:name=".network.TestDownImage" />
        <activity android:name=".network.TestBitmapUtil" />

        <receiver
            android:name=".canvas.ClockWidgetProvider"
            android:label="Clock Widget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <!-- 指定widget的配置文件路径 -->
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/clock_provider_config" />
        </receiver>

        <service
            android:name=".canvas.LiveWallpaper"
            android:permission="android.permission.BIND_WALLPAPER">

            <!-- 为实时壁纸配置intent-filter -->
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>
            <!-- 为实时壁纸配置meta-data -->
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/live_wallpaper" />
        </service>

        <provider
            android:name=".databases.StudentProvider"
            android:authorities="jixiang.com.myandroid.student"
            android:exported="true"
            android:readPermission="jixiang.com.myandroid.read_student"
            android:writePermission="jixiang.com.myandroid.write_student" />

        <service android:name=".service.MyService" />
        <service
            android:name=".service.MyService1"
            android:exported="true" />

        <receiver android:name=".broadcast.BootBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".broadcast.NetworkReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <!-- 配置contentprovider 其中authorities为地址参数 name为实现provider的类名 export 制定了是否允许被其他app调用 -->
        <provider
            android:name=".contentprovider.FirstProvider"
            android:authorities="jixiang.com.myandroid.first"
            android:exported="true" />

        <activity android:name=".contentprovider.TestProvider" />
        <activity android:name=".view.TestPathTextView" />
        <activity android:name=".exam.TestDownloadManager"></activity>

    </application>

</manifest>